@mixin starfish {
    &:before {
        content: '';
        position: absolute;
        width: 365px;
        height: 339px;
        transform: rotate(24.042deg); 
        left: 0;
        top: -80px;
        background: url('../img/impressions/starfish.png') no-repeat center center/cover;
        z-index: 20;
    }
}

@mixin photo-wedding {
    &:after {
        content: '';
        position: absolute;
        width: 290px;
        height: 339px;
        transform: rotate(-9.41deg); 
        right: 60px;
        top: -30px;
        background: url('../img/impressions/photo-wedding.png') no-repeat center center/cover;
        z-index: 20;
    }
}

@mixin conch {
    &:before {
        content: '';
        position: absolute;
        width: 218px;
        height: 213px; 
        left: 90px;
        bottom: 330px;
        background: url('../img/impressions/conch.png') no-repeat center center/cover;
        z-index: 20;
    }
}

@mixin dolphin {
    &:after {
        content: '';
        position: absolute;
        width: 286px;
        height: 172px;
        transform: rotate(-7.742deg); 
        right: 60px;
        bottom: 330px;
        background: url('../img/impressions/dolphin.png') no-repeat center center/cover;
        z-index: 20;
    }
}