.impressions {
    min-height: 1250px;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include starfish;
    @include photo-wedding;
    background: url('../img/impressions/impressions_bg-wave.png') no-repeat bottom center/100% 193px,
                url('../img/impressions/impressions_bg.jpg') no-repeat center center/cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 58px;
    &__title {
        max-width: 417px; 
        text-align: center;
        font-size: 60px;
        font-family: 'SignPainter';
        font-style: normal;
        font-weight: 400;
        color: #fff;
        line-height: 50px;
        margin-top: 95px;
    }
    &__descr {
        margin-top: 32px;
        color: #FFF;
        max-width: 591px;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    &__wrapper {
        min-height: 194px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        column-gap: 44px;
        row-gap: 24px;
        margin-top: 66px; 
    }
    &__info {
        height: 100%;
        width: 204px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        &-descr {
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-top: 18px;
        }
    }
    &__icons {
        min-width: 80px;
        min-height: 80px;
        border-radius: 100%;
        background-color: #fff;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    &__photo {
        max-width: 502px;
        // height: 390px;
        margin-top: 90px;
        transform: rotate(3deg);
        img {
            width: 100%;
        }
        @include conch;
        @include dolphin;
    }
}