$header-bg-color: #012146;
$bg-color: #EFF7FC;
$text-white-color: #FFFFFF;
$nav-link-underline: #FFD289;
$title-color: #205694;
$button-color: #FFC42C;
$button-gradient-color: linear-gradient(180deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%), #FFC42C;
$button-white: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(180deg, #FFF 0%, #F6C23A 100%);
$price-color: #F8B405;
$cards-bg-color: #ffffff;
$footer-bg-color: $header-bg-color;