* {
    margin: 0;
    padding: 0;
    font-family: 'Graphik';
    line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    
}
 ul, li {
    margin: 0;
 }

 .hide {
    display: none;
 }

 .show {
    display: block;
 }


 .visible {
   display: flex !important;
 }

.invisible {
   display: none !important;
 }
